<div class="ppwcode-cru-spinner-wrapper flex items-center justify-center" [style.backgroundColor]="backdropColor">
    <mat-progress-spinner mode="indeterminate" [diameter]="diameter" [color]="color"></mat-progress-spinner>
</div>
