<div *ngIf="userName">
    <button *ngIf="userNameMenuTemplate" mat-button (click)="userNameClick.emit()" [matMenuTriggerFor]="userMenu">
        <mat-icon class="user-icon" inline="true">person</mat-icon>
        <span>{{ userName }}</span>
    </button>
    <button *ngIf="!userNameMenuTemplate" mat-button (click)="userNameClick.emit()">
        <mat-icon class="user-icon" inline="true">person</mat-icon>
        <span>{{ userName }}</span>
    </button>
</div>

<mat-menu #userMenu="matMenu" xPosition="before">
    <ng-template [ngTemplateOutlet]="userNameMenuTemplate"></ng-template>
</mat-menu>
