<mat-card-content class="flex flex-col">
    <div class="text-xl mb-4 font-bold">{{ titleTranslationKey | translate | titlecase }}</div>

    <div class="flex flex-col gap-medium">
        <ng-container *ngIf="resources && resources.length; else noResults">
            <div
                *ngFor="let resource of resources"
                class="filter-result"
                (click)="resourceNavigation.navigateToResource($event, resource)">
                <ng-container
                    ppwcodeCruDynamicResourcePresentation
                    [resource]="resource"
                    [viewedBy]="viewedBy"
                    [type]="resource.discriminator"></ng-container>
            </div>
        </ng-container>
        <ng-template #noResults>
            <div class="flex flex-grow text-gray-500 font-light">{{ 'list.no_results' | translate }}</div>
        </ng-template>
    </div>
</mat-card-content>
