<mat-form-field>
    <mat-label>{{ options?.label || '' | translate }}</mat-label>
    <input
        matInput
        autocomplete="off"
        [type]="inputType"
        [placeholder]="options?.placeholder || '' | translate"
        [formControl]="localFormControl"
        (change)="onChange($any($event.target).value)"
        (blur)="onTouched()" />
    <mat-hint *ngIf="options?.hint">{{ options?.hint || '' | translate }}</mat-hint>

    <mat-error *ngIf="localFormControl.errors?.['joi'] && localFormControl.touched">
        {{ localFormControl.errors!['joi']!.ppwTranslatedMessage }}
    </mat-error>
</mat-form-field>
