<mat-progress-bar *ngIf="showProgressBar" mode="indeterminate" color="accent"></mat-progress-bar>
<mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav
        class="sidenav"
        fixedInViewport
        [attr.role]="isHandset ? 'dialog' : 'navigation'"
        [class.mobile]="isHandset"
        [class.minimized]="showAsMinimized"
        [mode]="isHandset ? 'over' : 'side'"
        [opened]="showAsOpened"
        disableClose>
        <div class="flex flex-col fill justify-between">
            <div>
                <mat-toolbar class="sidenav-toolbar flex flex-row align-center">
                    <div>
                        <button mat-icon-button *ngIf="showAsMinimized" (click)="openSidenav()">
                            <mat-icon>chevron_right</mat-icon>
                        </button>
                        <button mat-icon-button *ngIf="!showAsMinimized || isHandset" (click)="closeSidenav()">
                            <mat-icon>chevron_left</mat-icon>
                        </button>
                    </div>
                    <mat-form-field class="flex-grow ml-2 mt-2 text-sm" *ngIf="!showAsMinimized">
                        <button mat-icon-button matPrefix [matMenuTriggerFor]="menu" [color]="searchButtonColor">
                            <mat-icon [fontSet]="searchButtonIconFontSet">{{ searchButtonIcon }}</mat-icon>
                        </button>
                        <input
                            matInput
                            [formControl]="searchControl"
                            [placeholder]="searchPlaceholder"
                            data-cy="searchInput"
                            autocomplete="off" />
                        <button mat-icon-button matSuffix (click)="clearSearch()">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </mat-form-field>
                </mat-toolbar>
                <div class="sidenav-search flex flex-col gap-medium" *ngIf="!showAsMinimized">
                    <div class="sidenav-search-results flex flex-col gap-medium">
                        <ng-content select="[searchResults]"></ng-content>
                    </div>
                </div>
            </div>

            <div class="sidenav-nav-list">
                <mat-nav-list *ngFor="let navListItem of navListItems">
                    <a
                        class="sidenav-list-item"
                        mat-list-item
                        [matTooltip]="navListItem.label | translate"
                        matTooltipPosition="right"
                        [matTooltipDisabled]="!showAsMinimized"
                        (click)="navListItem.action()"
                        [id]="navListItem.id">
                        <mat-icon mat-list-icon>{{ navListItem.icon }}</mat-icon>
                        <span class="ml-1" [innerText]="navListItem.label | translate"></span
                    ></a>
                </mat-nav-list>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="flex flex-col">
        <mat-toolbar color="primary" class="flex-shrink-0">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="openSidenav()" *ngIf="isHandset">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>

            <ppwcode-cru-breadcrumb-bar *ngIf="showBreadcrumbs"></ppwcode-cru-breadcrumb-bar>

            <span class="spacer"></span>

            <ppwcode-cru-user-name-button
                [userName]="userName"
                [userNameMenuTemplate]="userNameMenuTemplate"
                (userNameClick)="userNameClick.emit()"></ppwcode-cru-user-name-button>
        </mat-toolbar>
        <div class="flex flex-col page-content">
            <ng-content select="[page]"></ng-content>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #menu="matMenu">
    <ng-template [ngTemplateOutlet]="searchFilterMenuTemplate"></ng-template>
</mat-menu>
