$gaps: 8px;

mat-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 400px;

    &.mobile {
        width: 100%;
    }

    &.minimized {
        width: 66px;

        mat-nav-list span {
            display: none;
        }
    }

    mat-nav-list {
        width: 100%;
    }

    .sidenav-search {
        margin-left: $gaps;
        margin-right: $gaps;

        .sidenav-search-results {
            flex: 1;
            padding: 0 0 $gaps 0;
        }
    }

    .sidenav-toolbar,
    .sidenav-nav-list {
        position: sticky;
        background-color: white;
        z-index: 100;
    }

    .sidenav-toolbar {
        top: 0;
        border-bottom: 1px solid #efefef;
        margin-bottom: 0.5rem;
    }

    .sidenav-nav-list {
        bottom: 0;
        border-top: 1px solid #efefef;
        padding-bottom: 0.5rem;

        .sidenav-list-item {
            height: 48px;
        }
    }
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.page-content {
    padding: $gaps;
}

.spacer {
    flex: 1 1 auto;
}
