<p [matMenuTriggerFor]="menu" class="ppwcode-resource-history-timestamp">
    {{ displayedVersion | date : 'dd/MM/yyyy HH:mm:ss' }}
</p>

<mat-menu #menu="matMenu">
    <button
        *ngFor="let historicVersion of history"
        mat-menu-item
        [disabled]="disabledVersionsMap.has(historicVersion.createdAt)"
        (click)="versionSelected.emit(historicVersion)">
        {{ historicVersion.createdAt | date : 'dd/MM/yyyy HH:mm:ss' }}
    </button>
</mat-menu>
