<ng-container *ngFor="let group of controlGroups">
    <div *ngIf="isGroupVisible(group)" class="flex md:flex-col gap-small">
        <ng-container *ngFor="let control of group.controls">
            <div class="flex flex-col">
                <ng-container
                    ppwcodeCruDynamicControl
                    [config]="control"
                    [formControl]="$any(formGroup.get(control.name))"></ng-container>
            </div>
        </ng-container>
    </div>
</ng-container>
